$color-blue:#1A74E2;
$color-lblue:#3FA0EF;
$color-llblue:#6bd0ff;
$color-black:#101010;
$color-lblack:#1f2123;

.projects {
    width: calc(100% - 95px);
    height: 100vh;
    
    
    
    position: absolute;
    left: 95px;


    .head {
        text-align: center;
        position: relative;
        top: 20px;
        font-weight: 900;
        font-size: 0.9em;
        
        background-color: $color-llblue;
        width: max-content;
        margin:  0 auto;
        padding: 0px 4px;
        color: $color-lblack;
        border-radius: 3px;
        animation: cpulse 1s alternate-reverse infinite;
    }
    .cardcon {
        padding: 40px 80px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .dropdown {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown:hover {
        animation: cpulse 1s ease-in-out;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    .projects{
        width: 100%;
        height: max-content;
        left: 0px;
        padding: 0px;

        .cardcon {
            padding: 20px;
            position: relative;
            top: 20px;
        }


    }

    .card {
        .overlay {
            .linkcon {
                padding: 20px;
            }
        }
        .rightbox {
            display: none;
        }
    }

    
}


//Project Card Css


.card {
    width: 500px;
    height: 250px;
    
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
   .overlay {
       width: 0%;
       height: 0%;
       background: rgba(57, 57, 57, 0.5);
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       z-index: 5;
       transition:0.3s ease-out;
       display: flex;
       align-items: center;
       justify-content: center;

       .linkcon {
           display: flex;
           background-color: #000000;
           display: none;
           padding: 5px;
           gap: 15px;
           color: whitesmoke;
           align-items: center;
           justify-content: center;
           border-radius: 4px;

           a {
               display: flex;
               align-items: center;
               color: white;

               
               span {
                   font-size: 0.8em;
                   font-weight: 800;
               }
           }
       }
   }
   .overlay::after {
       width: 100%;
       height: 100%;
   }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        display: block;
       
        
    }

    .rightbox {
        width: 150px;
        transition:right 0.3s ease-in-out;
        position: absolute;
        right:-150px ;
        height: 100%;
        background-color: $color-blue;
        z-index: 10;
        padding: 5px;
        box-sizing: border-box;
        
        .descriptionofproject {
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: aliceblue;
            font-size: 0.7em;
            font-weight: 500;
            text-align: justify;
        }
        .projectetech{
            display: flex;
            flex-direction: column;

            .techhead {
                width: 100%;
                color: aliceblue;
                font-size: 0.7em;

            }
            .Imgcon {
                display: flex;
            }
        } 

       
    }
    
   
}
.card:hover {

    animation: cpulse 1s ease-in-out;

    img {
        z-index: 2;
        position: absolute;
        background-image: linear-gradient(to bottom right,#000000,#dc4225);
    }
    .rightbox {
      
      right: 0px;
      z-index: 10;
      
      
    }
    .overlay {
        width: 100%;
        height: 100%;

        .linkcon {
            display: flex;


        }
    }
}

@-webkit-keyframes cpulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(107, 208, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(26,116,226, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(26,116,226, 0);
    }
  }
  @keyframes cpulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(107, 208, 255, 0.4);
      box-shadow: 0 0 0 0 rgba(107, 208, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(26,116,226, 0);
        box-shadow: 0 0 0 10px rgba(26,116,226, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(26,116,226, 0);
        box-shadow: 0 0 0 0 rgba(26,116,226, 0);
    }
  }