$color-blue:#1A74E2;
$color-lblue:#3FA0EF;
$color-llblue:#6bd0ff;
$color-black:#101010;
$color-lblack:#1f2123;

.skillsconmain {
    width: calc(100% - 95px);
    height: 100vh;
    
    
    
    position: absolute;
    left: 95px;
    
    
    .skilsshead {
        text-align: center;
        position: relative;
        top: 20px;
        font-weight: 900;
        font-size: 0.9em;
        
        background-color: $color-llblue;
        width: max-content;
        margin:  0 auto;
        padding: 0px 4px;
        color: $color-lblack;
        border-radius: 3px;
        animation: cpulse 1s alternate-reverse infinite;
    }
    .skillswrapper {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .skillscon {
           
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: space-evenly;
     
             .left_part {
                 
                 display: flex;
                 flex-direction: column;
                 justify-content: space-evenly;
                 align-items: center;
                 gap: 60px;
                 padding-left: 60px;
                
                
             }

             .right_part {
                 
                 
                 padding-right: 40px;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 text-align: center;
                 

                 .programming{
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    
                    align-items: center;
                    
                    text-align: center;
                    justify-content: center;

                    .imgcon {
                       display: flex;
                       flex-direction: column;
                       gap: 2px;

                       .language {
                           font-size: smaller;
                       }
                       
                       img {
                        width: 10px;
                        height: 10px;
                        object-fit: contain;
                        object-position:  50% 50%;
                        border-radius: 50%;
                        box-shadow:
                        0 0 0 1px $color-lblue,
                        0 0 0 2px $color-llblue;
                        box-sizing: border-box;
                    }
                    }
        
                   
                }
                .ev {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                    .evskills {
                        font-size: smaller;
                    }
                }
                .mech {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                    .mechskills {
                        font-size: smaller;
                    }

                }
                .managment {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                    .managementskills {
                        font-size: smaller;
                    }

                }

                .tools {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                    .toolsname {
                        font-size: smaller;
                    }
                    
                }

                
             }
         }
        .skillconhead {
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 40px;
            
    
        }
       
        .ev {
            display: flex;
            flex-direction: row;
            gap: 50px;
            padding-left: 50px;
            text-align: center;
            justify-content: center;

            .evcontent {
                display: flex;
                flex-direction: row;
                font-size: small;

            }
        }
       
    }
    .dropdown {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown:hover {
        animation: cpulse 1s ease-in-out;
        cursor: pointer;
    }
    
}
@media only screen and (max-width:600px) {
    .skillsconmain {
        width: 100%;
        position: absolute;
        left: 0px;

        .skillswrapper {
            position: relative;
            top: 40px;
            padding: 0px 0px 20px 0px;
            box-sizing: border-box;

            .skillscon {
                padding: 0px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                
            }
        }
        
    }
    
}
